<h2><%= @sushi.name %></h2>
<h2>price: <%= @sushi.formatted_price %></h2>
<% @sushi.ingredients.each do |ingredient|%>
<h2><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></h2>
<% end %>
<a href="/sushis/<%= @sushi.id %>/edit">edit this sushi</a>