<div class="employee-card">
    <img src="<%= employee.img_url %>">
    <h2><%= employee.name %></h2>
    <p><%= employee.alias %></p>
    <p><%= employee.title %></p>
    <p><%= employee.office %></p>
    <p><%= link_to employee.dog.name, employee.dog %></p>
</div>