<!DOCTYPE html>
<html>
  <head>
    <title>CarWorkshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'all cars', cars_path %>
    <%= link_to 'all owners', owners_path %>
    <%= link_to 'all mechanics', mechanics_path %>
    <%= link_to 'all brands', brands_path %>
    <%= link_to 'new car', new_car_path %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
      <%= error %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
